body {
    font-family: 'Lato', sans-serif;
    color: gray;
    font-weight: 300;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

.text-black {
    color: black;
    font-size: 18px
}

[class*="brandico-"]:before {
    color: black;
    display: inline-block;
    font-family: 'brandico', sans-serif;
    text-shadow: 3px 3px 3px #aaa;
    width: 2em;
    margin-right: 0.5em;
}

a {
    color: #4183C4;
    font-weight: 300;
    text-decoration: none;
}

a:hover [class*="brandico-"]:before {
    color: #3d85c6;
}

div#social a {
    margin: 0 1em 0 0;
}

div#social a:last-of-type {
    margin: 0;
}

div#social {
    line-height: 2em;
}

hr {
    height: 1px;
    color: black;
    background-color: black;
}
